/* Import Google font for gaming-style text */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Base styles for the text container */
.text-container {
  font-family: 'Press Start 2P', cursive;  /* Applying gaming font globally */
  opacity: 0;
  transition: opacity 0.5s ease-in;
  letter-spacing: 0.05em; /* Adds space between letters for a retro feel */
  line-height: 1.5; /* Ensure text doesn't overlap with a gaming font */
}

/* Fade-in effect for text */
.text-container.fade-in {
  opacity: 1;
}

/* Typing animation effect */
.animate-typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  padding-right: 4px;
  animation: typing 2s steps(40) 1s forwards, blink-caret 0.75s step-end infinite; /* Apply typing and blinking caret */
}

/* Hover effect for links */
.animate-typing.hovered {
  color: #0077cc; /* Change text color on hover */
  text-decoration: underline;
}

/* Keyframe for typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Keyframe for the blinking caret effect */
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}
