.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFDEC;
}


/* Logo Styling */

.logo-container {
    text-align: center;
    margin-bottom: 20px;
    /* Adjust spacing as needed */
}

.logo {
    width: 350px;
    /* Adjust size of the logo */
    height: auto;
    display: block;
    margin: 0 auto;
}

.loader {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 60px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #86A788;
    margin: 0 5px;
    box-shadow: 0 0 10px rgba(134, 167, 136, 0.5);
}

.pulse {
    animation: pulseAnimation 1.5s infinite ease-in-out;
}

@keyframes pulseAnimation {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    color: #334e4c;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    opacity: 0;
    transform: scale(0.8) translateY(20px) skewX(10deg);
    animation: advancedTitleAnimation 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes advancedTitleAnimation {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(20px) skewX(10deg);
    }
    30% {
        opacity: 0.5;
        transform: scale(1.1) translateY(-10px) skewX(-5deg);
    }
    60% {
        opacity: 0.8;
        transform: scale(1.05) translateY(5px) skewX(5deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0) skewX(0deg);
    }
}