body {
    margin: 0;
    font-family: "Playfair Display", serif;
    background: linear-gradient(to bottom right, #f0e6ef, #e2f3f5);
    scroll-behavior: smooth;
}

.navbar {
    font-family: "Playfair Display", serif;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    /* Align navbar items to the right */
    align-items: center;
    padding: 10px 20px;
}

.nav-item {
    position: relative;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-left: 20px;
    /* Space between navbar items */
}

.nav-item:hover {
    color: #008080;
    transform: translateY(-2px);
}

.navbar .absolute.top-2.right-2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    /* Transparent background with blur effect */
    backdrop-filter: blur(10px);
    /* Blurs the background */
}

.hover-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #14b8a6;
    transition: width 0.3s ease-in-out;
}

.hover-effect:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .nav-item {
        margin-bottom: 15px;
        color: #110d0d;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    /* Disable glassmorphism on mobile */
    .navbar {
        background-color: transparent;
        /* Solid background for mobile */
        backdrop-filter: none;
        /* Remove the blur effect */
        justify-content: flex-start;
        /* Align items to the left on mobile */
    }
    .navbar .absolute.top-2.right-2 {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}